<h1>Cats</h1>
 
<table>
  <tr>
    <th>Cats</th>
    <th>All Cats</th>
  </tr>
 
  <% @cats.each do |c| %>
    <tr>
      <td><%= c.name %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Todos</th>
    <th>All Todos</th>
  </tr>
 
  <% @todos.each do |t| %>
    <tr>
      <td><%= t.tasks %></td>
    </tr>
    <tr>
      <td><%= t.finished %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Users</th>
    <th>All Users</th>
  </tr>
 
  <% @users.each do |u| %>
    <tr>
      <td><%= u.username %></td>
    </tr>
    <tr>
      <td><%= u.email %></td>
    </tr>
    <tr>
      <td><%= u.age %></td>
    </tr>
  <% end %>
</table>